body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;

    background: linear-gradient(180deg, rgba(0, 144, 240, 0) 88%, rgba(152, 172, 226, 0.425));

    min-height: 100vh;
}

.page {
    width: 1000px;
    margin: 0 auto;
    padding-top: 65px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 55px;
}

nav img {
    width: 100px;
}

ul {
    list-style: none;
    display: flex;
    gap: 48px;
    margin: 0;
    padding: 0;
}

a{
    color: #3e5db7;
    text-decoration: none;
}

ul li a {
    opacity: 0.5;
}

/*pseudo-class*/
ul li a:hover {
    font-weight: bold;
    opacity: 1;
}    

h1, ul {
    font-family: 'Mulish', sans-serif;
}

main {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1 {
    font-size: 49px;
    line-height: 56px;
    color: #3e5db7;

    font-weight: normal;
    width: 490px;
}

h1 span {
    color: #f67d48;
    font-weight: bold;
}

section p {
    font-size: 14px;
    line-height: 28px;
    color: #7D7987;

    margin: 40px 0;
}

button{
    color: white;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;

    background: #f67d48;
    border: 0;
    border-radius: 4%;
    padding: 14px 32px 15px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    cursor: pointer;
}

button:hover {
    background: #3e5db7;
}

footer {
    font-size: 14px;
    line-height: 28px;
    color: #7D7987;
    font-weight: bold;

    text-align: center;

    margin-top: 80px;
}

footer a {
    font-weight: bold;
}

#picture {
    width: 800px;
}

#balls {
    position: fixed;
    bottom: 0;
    right: 0%;
}